@font-face {
    font-family: myFirstFont;
    src: url(../fonts/EuropeanTeletextNuevo.ttf);
}
  
h1 {
    
    color: darkgreen;
    font-size: large;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#tv
{
  padding:10px;
  width:700px;
  height:540px;
  background-color: grey;
  position:relative;

} 
#screen {
  width:640px;
  height:480px;
  font-family: myFirstFont;
  background-color: black;
  margin: 0 auto;
  text-align: center;
  color:white;
}